<br><br><br><br>

<div class="container" >
	<div class="card" ">
	  	<div class="card-header">
	    	<h2>About</h2>
	  	</div>
	  	<div class="card-block" style="margin-left:3%; margin-right:3%; margin-top: 4%; margin-bottom: 4%">
		    <p class="card-text">In this web app, users could sell their products online to other users and they could chat online about the details of the product. Users can register and login. Once they login, they can post a new product to sell, view the current product they posted, and chat with other users who are interesting in their products. Every user has his or her own page about the list of the products they posted. Each product is an object, which contains name, price, user name, and posted date. For every list that they have, they can edit the list, add items to the list, or delete the items from the list.</p>
	  	</div>
	</div>
</div>