
<h1>Sign In</h1>

<div class="container" style="">
		<div class="card" style="background-color:lightgray; padding: 20px; margin-left:25%; margin-right:25%; margin-top: 5%; margin-bottom: 5%">
			<form method="POST" action="/ezsell/register-login">
					Username: <br><input name="username" type="text"><br>
					Password: <br><input name="password" type="password"><br><br>
					<br><input class="btn btn-primary" type="submit" value="Sign In">	
			</form>

			{{message}}

		</div>

		<div class="card" style="text-align: center; background-color:lightgray; padding: 20px; margin-left:25%; margin-right:25%; margin-top: 5%; margin-bottom: 5%">
			<font size="5">New User</font><br>
			<a href="/ezsell/create-new-account" class="btn btn-primary" width="50px">Create Account</a>

		</div>

</div>